html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #fafafa;
}

.button {
  background: slategray;
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  color: white;
  font-family: 'Constantia', sans-serif;
}

.play {
  color: black;
}

footer {
  flex-shrink: 0;
}

header {
  background: no-repeat center center;
  background-size: cover;
  color: white;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 60vh;
}

.singleCol {
  max-width: 750px;
}

footer {
  background-color: #3a3a3a;
  color: wheat;
}

footer a {
  color: white;
}

footer a:hover {
  color: #dfdfdf;
}

@media (max-width: 767.98px) {
  .color-overlay {
    min-height: 30vh;
  }
}
